* {
    box-sizing: border-box;
    margin: 0;
}
  
body {
    line-height: 1.5;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
#root, #__next {
    isolation: isolate;
}
  
@font-face {
    font-family: 'norse';
    src: url("../fonts/norse-bold-webfont.woff2") format('woff2'),
         url("../fonts/norse-bold-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

.container {
    display: flex;
    min-height: 100svh;
}

.image-sidebar {
    width: 35svw;
    height: 100svh;
    background: url("../images/outer-space-earth-view.jpg") no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.credits {
    color: white;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.credits a:visited {
    color: white;
}