* {
    box-sizing: border-box;
    margin: 0;
}
  
body {
    line-height: 1.5;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
#root, #__next {
    isolation: isolate;
}
  
@font-face {
    font-family: 'norse';
    src: url("../fonts/norse-bold-webfont.woff2") format('woff2'),
         url("../fonts/norse-bold-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

.container {
    display: flex;
    min-height: 100svh;
}

.image-sidebar {
    width: 35svw;
    height: 100svh;
    position: relative;
    background: url("../images/outer-space-earth-view.jpg") no-repeat;
    background-size: cover;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: flex-end;
}

.logo-container {
    position: absolute;
    top: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(30, 30, 30, 0.466);
    font-family: norse;
    font-size: 6rem;
    color: white;
}

.logo-container::before {
    content: "";
    background: url(../images/odin-lined.png) no-repeat;
    background-size: contain;
    display: inline-block;
    height: 127px;
    width: 95px;
}

.credits {
    color: white;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.credits a:visited {
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
    background: whitesmoke;
}

.main-header {
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 1.2rem;
    max-width: 60ch;
    padding-left: 30px;
    padding-bottom: 30px;
}

.signup-title {
    padding-bottom: 15px;
}

.footer-section {
    padding: 30px 0 30px 30px;
}

.signup-form {
    display: flex;
    flex-wrap: wrap;
}

.signup-form > [class^="signup-form"] {
    width: 50%;
    padding: 15px 0;
}

.signup-form label {
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.8px;

    display: block;
}

.signup-section {
    background: white;
    box-shadow: 5px 2px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.signup-form-submit button {
    padding: 8px 42px;
    cursor: pointer;
    color: white;
    background: rgb(39, 155, 200);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 2px 2px 4px rgba(29, 125, 170, 0.5);
}

.signup-form-submit button:hover {
    background: rgb(59, 175, 220);
}

.account-active {
    font-weight: 500;
    padding-top: 30px;
}

.signup-form input {
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    background-color: transparent;
    padding: 8px;
}

.signup-form input:focus {
    outline: none;
    border-color: black;
}

.signup-form input:valid {
    border: 1px solid #8BC34A;
    background-color: rgba(139, 195, 74, 0.25);
}

.signup-form input + span {
    position: relative;
    display: block;
}

.signup-form input + span::before {
    position: absolute;
    bottom: -22px;
    left: 0;
}

.signup-form input[type="text"]:invalid + span::before {
    content: "* Letters only";
    color: #b92326;
}

.signup-form input[type="email"]:invalid + span::before {
    content: "* Incorrect format";
    color: #b92326;
}

.signup-form input[type="tel"]:invalid + span::before {
    content: "* Numbers only (11 digits)";
    color: #b92326;
}

.signup-form input[type="password"]:invalid + span::before {
    content: "* 8 characters or more";
    color: #b92326;
}